/*  Eytan Raphaely
Creative Project 2
October 1st 2018 */

h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: lighter;
    letter-spacing: 4px;

}



a {
    display: flex;
    align-items: flex-end;
    justify-content: center; 
}

p {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: lighter;
    letter-spacing: 4px;     
}



.middle {
    opacity: 0;
    transition: .5s ease;
    background-color: #008CBA;
}

#container:hover .middle {
  opacity: 1;
}



#text1{
    width:1px;
    word-wrap: break-word;
    position:absolute;
    left: 100px;
    top: 150px;
    font-size: 24px;
    letter-spacing: 4px;
    

    
}

#text2{
    width:1px;
    word-wrap: break-word;
    position:absolute;
    left: 680px;
    top: 150px;
    font-size: 24px;
    letter-spacing: 4px;
}




#container {
    position: relative;
}

#container img  {
    opacity: 1;
}

#microphone:hover{
    background-color: #EBF5FB;
    border-radius: 30%;
    
}

#laptop:hover{
    background-color: #EBF5FB;
    border-radius: 30%;
}

.home span:hover{
    background-color: #EBF5FB;
    border-radius: 30%;
    
}




#microphone {
    padding-top: 40px;
    float: left;
    width: 45%;
    height: 400px;
    
    
}

#laptop {
    float:right;
    width: 50%;
    height: 500px;
    
    
}

html {
    font-family: Helvetica;
    font-weight: lighter;
    
}

body {
    background-color: aliceblue;
}


ul {
    position: fixed;
    top: 0;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
    
    
}

ul div{
    transition: font-size .5s;
    
}

ul div:hover{
    font-size: 20px;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}

#jokepage img {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#tonvict {
    width: 100%;
    min-height: 100%;
}

#comic {
    width: 50%;
}

.text3 {
    font-family: Lato;
    letter-spacing: 4px;
    color: white;
    letter-spacing: 5px;
    float: right;
    
    
}

#jokepage {
    background-color: whitesmoke;
}

#about p {
    text-align: center;
    padding: 2px;
}



.boom {
    text-align: center;
}

video {
    width: 20%;
}

.hidden {
  display: none;
}

#about {
    background-color: #EBF5FB;
}