/*  Eytan Raphaely
Creative Project 2
October 1st 2018 */

body {
   background-color: #ff8967; 
}

#microphone {
    position: relative;
    text-align: center;
    padding-top: 10px;
    
    
}

#microphone img{
    width: 50%;

    
    
}

.hidden {
  display: none;
}

header  {
    text-align: center;
    font-family: Helvetica;
    font-weight: lighter;
    letter-spacing: 4px;
}
header h1  {
    font-weight: lighter;
    letter-spacing: 10px;
}

#microphone img:hover {
    background-color: #ff8980;
    border-radius: 30%;
    
    
    
}


#microphone:hover .caption {
    opacity: 1;
}

.caption {
    position: absolute;
    top: 45%;
    right: 10%;;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    font-size: 15px;
    
}

#comedy {
    letter-spacing: 10px;
    font-weight: lighter;
    
}

#parallax {
    /* The image used */
    background-image: url("https://tonvict.github.io/images/volcano.jpg");
    

    /* Set a specific height */
    width: 100%;
    min-height: 100vh;
    
    

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}



@media (min-width: 400px) {
    .caption { font-size: 1.25rem; }
    h1 {font-size: 1rem;}
    #microphone img{ width: 60%;}
}

@media (min-width: 560px) {
    .caption { font-size: 1.25rem; }
    h1 {font-size: 1.25rem;}
    #microphone img{ width: 60%;}
}
@media (min-width: 768px) {
    .caption { font-size: 1.5rem; }
    h1 {font-size: 1.5rem;}
    #microphone img{ width: 50%;}
}
@media (min-width: 992px) {
    .caption { font-size: 1.75rem; }
    h1 {font-size: 1.75rem;}
}
@media (min-width: 1200px) {
    .caption { font-size: 2rem; }
    h1 {font-size: 2rem;}
}
#comic {
    width: 15%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
    
}

.text3 {
    font-family: Lato;
    letter-spacing: 4px;
    color: white;
    letter-spacing: 5px;
    float: right;
    
    
}

#jokepage {
    
}

#about p {
    text-align: left;
    padding: 2px;
    
}



.boom {
    text-align: center;
}


video {
    width: 20%;
}

.hidden {
  display: none;
}

#about {
    background-color: #ff8980;
    min-height: 100vh;
    padding-top: 60px;
}

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */  
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
    background-color: black;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
    background-color: #ff8910;
}

/* Add a background color and some padding around the form */
#container {
    border-radius: 5px;
    background-color: #ff8990;
    padding: 20px;
}

#Programmer{
    position: absolute;
    left: 20px;
    top:20%;
}

#articles {
    text-align: center;
    min-height: 100vh;
    padding-top: 60px;
}

#charity {
    padding-top: 60px;
    text-align: center;
    min-height: 100vh;
    background-color: #ff89;
}