html {
    min-width: 550px;
    
}


@font-face {
    font-family: "Silkscreen";
    src: url(fonts/slkscr.ttf);
}

body {
    font-family: Silkscreen;
    background-color: black;
    min-width: 550px;
    
}

#start {
    position: absolute;
    left: 50%;
    top: 50%;
    line-height: 500px;
    color: #3D9970;
    font-size: 46px;
    transform: translate(-50%, -50%);
    text-shadow: 2px 2px red;
    transition: font-size .5s;
}

#start:hover {
    font-size: 70px
}

#pixelface{
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 300px;
}

#mainpage {
    background-color: black;
}

.hidden {
    display: none;
}

#menu {
    background-color: black;
}

#landscape {
    background-color: black;
    width: 100%;
    height: 700px;
    
    
    
}



.centered {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    font-weight: lighter;
    font-size: 60px;
    letter-spacing: 50px;
    font-family: Silkscreen;

}

#name {
    font-size: 40px;
    font-weight: lighter;
}

span span span{
    color: #3D9970;
    font-weight: bold;

}

#about-me{
    background-color: whitesmoke;
    width: 500px;
    height: 264px;
    border: 1px solid grey;
    padding: 25px;
    border-radius: 10px;
}

#about-me p span {
    color: #3D9970;
    font-weight: bold;
}

#profile{
    display: flex;
    justify-content: center;
    position: absolute;
    left: 10%;
    top: 56%;
    
    

}

#eytan{
    height: 315px;
    width: 500px;
    border-radius: 10px;
    
}


hr {
    margin-top: 30px;
}

test {
    display: inline-block;
    
   
    
}

#summary-header {
    color: #3D9970;
    position: relative;
    left: 5%;
    
}

#summary {
    position: relative;
    background-color: whitesmoke;
    width: 500px;
    height: 900px;
    border: 1px solid grey;
    padding: 15px;
    float: left;
    left: 5%;
    border-radius: 10px;
    
}

#summary p span{
    color: #3D9970;
}

#progressbar {
  background-color: black;
  border-radius: 13px; /* (height of inner div) / 2 + padding */
  padding: 1px;
}

#Java-Progress{
   background-color: #3D9970;
   width: 80%; /* Adjust with JavaScript */
   height: 20px;
   border-radius: 10px;
}

#Python-Progress{
   background-color: #3D9970;
   width: 70%; /* Adjust with JavaScript */
   height: 20px;
   border-radius: 10px;
}

#HTML-Progress{
   background-color: #3D9970;
   width: 85%; /* Adjust with JavaScript */
   height: 20px;
   border-radius: 10px;
}

#SQL-Progress{
   background-color: #3D9970;
   width: 60%; /* Adjust with JavaScript */
   height: 20px;
   border-radius: 10px;
}

#PHP-Progress{
   background-color: #3D9970;
   width: 55%; /* Adjust with JavaScript */
   height: 20px;
   border-radius: 10px;
}

#summary img {
    position:relative;
    left:20%;
    width: 300px;
    height: 300px;
}


#education-header {
    color: #3D9970;
    
}

#education-whole {
    position: relative;
    left: 10%;
}

#education {
    
    background-color: whitesmoke;
    width: 500px;
    height: 600px;
    border: 1px solid grey;
    padding: 15px;
    border-radius: 10px;

    overflow: hidden;
}

#education img {
    background-color: whitesmoke;
    width: 500px;
    height: 300px;
}

#test2 {
    position: relative;
    left: 50%;
}


#experience-header {
    color: #3D9970;
    position: relative;
    right:42%;

    
}

#experience {
    position: relative;
    left: 30%;
    background-color: whitesmoke;
    width: 500px;
    height: 100%;
    border: 1px solid grey;
    padding: 15px;
    border-radius: 10px;
    
}

#sword{
    position: relative;
    top: 10%;
    color: #3D9970;
    left: 45%;
    width: 300px;
    height: 150px;
}

#test3{
    display: flex;
    flex-direction: row-reverse;
    position: relative;
    right: 75%
}


#eytanfull{
    width: 500px;
    position: absolute;
    right: 55%;
    top: 30%;
    
}

